/* Rigged for attempt 2: Lose */
.reel:nth-of-type(1) { --stop-y: -20%; }
.reel:nth-of-type(2) { --stop-y: -20%; }
.reel:nth-of-type(3) { --stop-y: -20%; }

/* Messages */
#spinToggle:not(:checked) ~ .controls .message-bar .msg-spinning { opacity: 1; transform: none; display: block; z-index: 1; }
#spinToggle:checked ~ .controls .message-bar .msg-lose { opacity: 1; transform: none; display: block; z-index: 1; }