__pycache__/
.vscode/
__MACOSX/
*.jar

# Not uploading assignment files
*.pdf

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Only pdf files are in the 2510 folder
!2510Assignment*.pdf