body {
    background-image: url("background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
}

/* BANNER SECTION */
#banner-area {
    height: 50px;
    background-image: url("bannerbackground.png");
    background-repeat: repeat-x;
    text-align: center;
}

#banner-area img {
    vertical-align: top;
}

/* MOVIE TITLE HEADING */
h1 {
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

/* MAIN CONTENT AREA */
#content-area {
    width: 800px;
    margin: 0 auto;
    border: 6px solid gray;
    overflow: hidden;
}

/* LEFT-CENTRAL SECTION (RATING AND REVIEWS) */
#left-column {
    width: 550px;
    float: left;
}

/* ROTTEN RATING HEADER */
#rotten-header {
    background-image: url("rottenbackground.png");
    background-repeat: repeat-x;
    height: 83px; 
}

#rotten-header img {
    float: left;
    margin-right: 5px; 
}

#rating-percent {
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

#rating-total {
    font-size: 8pt;
    color: white;
    vertical-align: bottom;
}

/* REVIEW COLUMNS */
#reviews-area {
    padding: 10px 10px 0 10px;
}

.review-column {
    width: 47%;
    float: left;
    margin-right: 2%;
}

.review-column:last-child {
    margin-right: 0;
}

/* INDIVIDUAL REVIEW BOX */
.review {
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    overflow: hidden;
}

.review img {
    float: left;
    margin-right: 5px;
}

.quote {
    font-weight: bold;
    font-style: normal;
    display: block;
    overflow: hidden;
}

/* REVIEWER INFORMATION */
.reviewer-info {
    margin: 5px 0 15px 0;
    padding-left: 10px;
    font-style: italic;
}

.reviewer-info img {
    vertical-align: middle;
    margin-right: 5px;
}

.publication {
    font-weight: normal;
}

/* GENERAL OVERVIEW SECTION */
#general-overview {
    width: 250px;
    float: right;
    background-color: #A2B964;
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

#overview-header {
    margin-bottom: 5px;
}

#overview-content {
    padding: 0 0px 0px 20px;
}

#movie-poster {
    text-align: center;
    margin: 5px 0;
}

#general-overview dl {
    margin: 0;
    padding: 0;
}

#general-overview dt {
    font-weight: bold;
    margin-top: 5px;
}

#general-overview dd {
    margin-left: 20px;
}

#general-overview a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

/* BOTTOM BAR */
#bottom-bar {
    background-color: #A2B964;
    text-align: center;
    padding: 5px;
    clear: both;
}

/* W3C VALIDATOR LINKS */
#validators {
    position: fixed;
    bottom: 0;
    right: 0;
}

#validators img {
    border: none;
}
